<%- include('./includes/header.ejs') %> 
  </head>
  <body>
    <!-- #Nav -->
    <%- include('./includes/navbar.ejs') %> 
    <!-- #EndNav -->

    <!-- #Cover -->
    <section class="cover-event">
      <div class="container">
        <div class="row py-5 text-center">
          <div class="col">
            <h1>Events</h1>
            <p>What we do recently</p>
          </div>
        </div>
      </div>
    </section>
    <!-- #EndCover -->

    <!-- #NewsBlock -->
    <div class="container">
      <div class="row">
        <%- include('./card.ejs') %>
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
      </div>
    </div>
    <!-- #EndNewsBlock -->
<%- include('./includes/footer.ejs') %> 