<%- include('./includes/header.ejs') %>

<!-- #Cover -->
<div class="cover event">
	<div class="row" style="height: 100%;">
		<div class="my-auto innerText">
			<div class="covertitle">
				Events
				<p class="cloud">
					งานกิจกรรมต่างๆ
				</p>
			</div>
		</div>
	</div>
</div>
<!-- #EndCover -->

<div class="container">
	<div class="row my-3">
		<div class="col-6">
			<p>
				<a href="/" style="text-decoration: none; color: black;">Home</a>
				>
				<span>
					<a href="/knowledge-corner" style="text-decoration: none; color: black;">Knowledge Corner</a>
				</span>
				>
				<span>
					<a href="/events" style="text-decoration: none; color: #28a745;">Events
					</a>
				</span>
			</p>
		</div>
		<div class="col-6">
			<form class="row">
				<input class="form-control mx-3" type="search" placeholder="Search By Keyword" aria-label="Search"
					name="search" style="width: 80%;" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
					Filter
				</button>
			</form>
		</div>
	</div>
</div>

<!-- #NewsBlock -->
<% if (!Array.isArray(posts) || !posts.length) { %>
<section style="height: 75vh;">
	<div class="row cloud" style="height: 100%;">
		<div class="my-auto mx-auto text-center">
			<div style="font-size: 2em;">
				ไม่พบงานกิจกรรมความที่ท่านต้องการ
			</div>
			<br />
			<div style="font-size: 1.5em;">
				The event you're looking for is not available
			</div>
			<button class="btn btn-success mt-4" onclick="window.location.href='/events'">
				ย้อนกลับ
			</button>
		</div>
	</div>
</section>
<% }else {%>
<section>
	<div class="container">
		<div class="row">
			<% for(post of posts) {%>
			<div class="col-lg-4 col-md-6 py-4 px-5 booklist">
				<a href="post/<%- post.id %> " class="postblock" style="text-decoration: none;">
					<!-- <img src="<%- (post.imgPath)?post.imgPath:'/assets/images/demoarticle.jpg' %>" /> -->
					<img src="../assets/images/demoevent.jpg">
					<div class="cloud"><%- post.title %></div>
					<small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
				</a>
			</div>
			<% } %>
		</div>
	</div>
</section>
<% } %>
<!-- #EndNewsBlock -->
<!-- #Pagination -->
<% if(pages>0) {%>
<section class="my-5">
	<!-- #currentPage -->

	<h4>
		Page
		<span><%= currentPage %></span>
		of
		<span><%= pages %></span>
	</h4>
	<!-- #EndCurrentPage -->
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<% if (currentPage == 1 && pages > 1) { %>
			<li class="page-item">
				<a class="page-link" href="/events/<%= parseInt(currentPage) + 1 %>/?search=<%=searchVal%>">Page
					<%= parseInt(currentPage) + 1 %> ></a>
			</li>
			<% } else if (currentPage < pages) { %>
			<li class="page-item">
				<a class="page-link" href="/events/<%= parseInt(currentPage) - 1 %>/?search<%=searchVal%>">
					< Page <%= parseInt(currentPage) - 1 %> </a> </li> <li class="page-item">
						<a class="page-link" href="/events/<%= parseInt(currentPage) + 1 %>/?search<%=searchVal%>">Page
							<%= parseInt(currentPage) + 1 %> ></a>
			</li>
			<% } else if (currentPage == pages && pages > 1) { %>
			<li class="page-item">
				<a class="page-link" href="/events/<%= parseInt(currentPage) - 1 %>/?search<%=searchVal%>">
					< Page <%=parseInt(currentPage) - 1 %> </a> </li> <% } %> </ul> </nav> </section> <% } %> <!--
						#EndPagination -->
						<%- include('./includes/footer.ejs')%>