<%- include('./includes/header.ejs') %>

	<!-- #Cover -->
	<div class="covershow">
			<div class="row">
			  <div id="homecover" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active cover news">
					<div class="row m-0 p-5">
					  <h1>THAIGLOB</h1>
					  <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis diam, tempus in lobortis quis, sagittis id urna. Mauris volutpat molestie pellentesque. Sed nunc nunc, tincidunt a vehicula ut, consequat at est. Vivamus sed ornare mauris. Pellentesque sit amet laoreet risus. Cras molestie odio in augue condimentum auctor faucibus ut quam.
					  </p>
					</div>
				  </div>
				  <div class="carousel-item cover book">
					<div class="row m-0 p-5">
					  
					</div>
				  </div>
				  <div class="carousel-item cover event">
					<div class="row  m-0 p-5">
					   
					</div>
				  </div>
				</div>

				<a
				  class="carousel-control-next"
				  href="#homecover"
				  role="button"
				  data-slide="next"
				>
				  <span
					class="carousel-control-next-icon"
					aria-hidden="true"
				  ></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			</div>
	</div>
	<!-- EndCover -->

	<!-- #HyperLinked -->
	<section>
		<div class="container">
			<div class="row justify-content-center hyperlink text-center my-5">
				<a class="col-md-3 col-sm-12" href="books">
					<img src="../assets/images/book.png" />
					<h4>Publications</h4>
					<p>A selection of Publications</p>
				</a>
				<a class="col-md-3 col-sm-12" href="news">
					<img src="../assets/images/news.png" />
					<h4>News</h4>
					<p>Latest News</p>
				</a>
				<a class="col-md-3 col-sm-12" href="articles">
					<img src="../assets/images/article.png" />
					<h4>Articles</h4>
					<p>Our articles</p>
				</a>
				<a class="col-md-3 col-sm-12" href="events">
					<img src="../assets/images/event.png" />
					<h4>Events</h4>
					<p>View our events</p>
				</a>
			</div>
		</div>
	</section>
	<!-- #EndHyperLinked -->

	<!-- #Gallery -->
	<div class="covershow">
		<div class="row">
		  <div id="gallerycover" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active cover article">
				<div class="row m-0 p-5">
				  <h1>THAIGLOB</h1>
				  <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis diam, tempus in lobortis quis, sagittis id urna. Mauris volutpat molestie pellentesque. Sed nunc nunc, tincidunt a vehicula ut, consequat at est. Vivamus sed ornare mauris. Pellentesque sit amet laoreet risus. Cras molestie odio in augue condimentum auctor faucibus ut quam.
				  </p>
				</div>
			  </div>
			  <div class="carousel-item cover climate">
				<div class="row m-0 p-5">
				  
				</div>
			  </div>
			  <div class="carousel-item cover research">
				<div class="row m-0 p-5">
				   
				</div>
			  </div>
			</div>
			<a
			  class="carousel-control-prev"
			  href="#gallerycover"
			  role="button"
			  data-slide="prev"
			>
			  <span
				class="carousel-control-prev-icon"
				aria-hidden="true"
			  ></span>
			  <span class="sr-only">Previous</span>
			</h3>
			<a
			  class="carousel-control-next"
			  href="#gallerycover"
			  role="button"
			  data-slide="next"
			>
			  <span
				class="carousel-control-next-icon"
				aria-hidden="true"
			  ></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
		</div>
</div>
	<!-- #EndGallery -->

	<!-- Update -->
	<section class="my-5">
		<div class="container">
			<h1>Latest Updates</h1>
			<div class="row">
				<%- include('./card.ejs') %>
				<%- include('./card.ejs') %>
				<%- include('./card.ejs') %>
			</div>
		</div>
	</section>
	<!-- EndUpdate -->
	<script type="text/javascript">
		jssor_1_slider_init();
	</script>
	<%- include('./includes/footer.ejs') %>