<%- include('./includes/header.ejs') %> 

    <!-- #Cover -->
    <section class="cover news">
      <div class="container">
        <div class="row py-5 text-center">
          <div class="col">
            <h1>News</h1>
            <p>Latest news from our organization</p>
          </div>
        </div>
      </div>
    </section>
    <!-- #EndCover -->

    <!-- #NewsBlock -->
    <section>
      <div class="container">
        <div class="row">
          <%- include('./card.ejs') %>
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
          <%- include('./card.ejs') %> 
        </div>
      </div>
    </section>

    <!-- #EndNewsBlock -->
    <%- include('./includes/pagination.ejs') %> 
<%- include('./includes/footer.ejs') %> 
