<%- include('./includes/header.ejs') %>

<!-- #Cover -->
<section style="background-image: url(/upload/<%-data.imgPath%>);">
	<div style="height: 300px;"></div>
</section>
<!-- EndCover -->

<!-- #PostSection -->
<section>
	<div class="container my-5">
		<div class="row">
			<div class="post-header my-5">
				<small><%- title.split('-')[1] %> </small>
				<h1><%- data.title %></h1>
			</div>
		</div>
		<div class="row d-flex flex-row-reverse">
			<div class="col-sm-12 col-md-10">
				<p><%- data.body %></p>
			</div>
			<div class="col-md-2 col-sm-4">
				<!-- <div>
					<p>Written by</p>
					<p></p>
				</div> -->
			</div>
		</div>
	</div>
</section>
<!-- #endPostSection -->
<%- include('./includes/footer.ejs') %>
