<%- include('./includes/header.ejs') %> <%-
include('./includes/backtotop.ejs')%>
<style>
	.caret {
		display: none !important;
	}
</style>

<!-- #Cover -->
<div class="cover research">
	<div class="container" style="height: 100%;">
		<div class="row" style="height: 100%;">
			<div class="covertitle my-auto">
				Research Projects
				<p class="cloud">
					โครงการวิจัย
				</p>
			</div>
		</div>
	</div>
</div>
<!-- #EndCover -->
<script>
	$.get('/carousel/api', function (data) {
		data.forEach((el, i) => {
			console.log(i);
			var html = `<li data-target="#homecover" data-slide-to="${i}"></li>`;
			$('#pagination').append(
				`<li data-target="#homecover" data-slide-to="${i}"></li>`
			);
		});
	});
</script>
<div class="container">
	<p class="my-3">
		<a href="/" style="text-decoration: none; color: black;">Home</a>
		>
		<span>
			<a href="/research" style="text-decoration: none; color: #28a745;"
				>Research Projects</a
			>
		</span>
	</p>
</div>
<!-- #Table -->
<section>
	<div class="container">
		<table
			class="table table-borderless table-hover"
			id="table_id"
			data-paging="true"
			data-sorting="true"
			data-filtering="true"
			data-filter-dropdown-title="Search in:"
			data-paging-count-format="Showing {PF} - {PL} out of {TR} entries"
		>
			<thead>
				<tr>
					<th
						style="width: 6%;"
						scope="col"
						data-type="number"
						data-sorted="true"
					>
						No.
					</th>
					<th style="width: 49%; text-align: center;" scope="col">
						Title
					</th>
					<th style="width: 15%; text-align: center;" scope="col">
						PI
					</th>
					<!-- <th scope="col">Institute</th> -->
					<th style="width: 10%; text-align: center;" scope="col">
						Active Year
					</th>
					<!-- <th scope="col">Fund Source</th> -->
					<th style="width: 10%; text-align: center;" scope="col">
						Status
					</th>
					<th style="width: 10%; text-align: center;" scope="col">
						Download
					</th>
				</tr>
			</thead>
			<tbody>
				<% for([index, research] of researches.entries()) {%>
				<tr
					class="research-entry"
					data-expanded="true"
					style="margin-top: 50px;"
				>
					<td><%- index+1 %></td>
					<td>
						<%- research.title %>
					</td>
					<td><%- research.author %></td>
					<td><%- research.activeYear %></td>
					<td><%- research.status %></td>
					<!-- IF (THERE'S NO FILE) -->
					<!-- <td>
						<button
							style="color: white;"
							class="btn btn-success"
							disabled
						>
							Download &nbsp;<i class="fa fa-download"></i
						></button>
					</td> -->
					<!-- ELSE -->
					<td>
						<a
							class="btn btn-success"
							href="upload/<%- research.dlPath %>"
							target="_blank"
						>
							Download &nbsp;<i class="fa fa-download"></i
						></a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</section>
<!-- #EndTable -->

<!-- #StartPagination -->
<script src="/assets/js/footable.js"></script>
<script>
	$(document).ready(function () {
		$('#table_id').footable();
	});
</script>
<!-- #EndPagination -->
<%- include('./includes/footer.ejs') %>
