<%- include('./includes/header.ejs') %> 
  </head>
  <body>
    <!-- #Nav -->
    <%- include('./includes/navbar.ejs') %> 
    <!-- #EndNav -->

    <!-- #Cover -->
    <section class="cover-climate">
      <div class="container">
        <div class="row py-5 text-center">
          <div class="col">
            <h1>Thailand Climate Changes</h1>
            <p>Latest updates from our organization</p>
          </div>
        </div>
      </div>
    </section>
    <!-- #EndCover -->

    <!-- #NewsBlock -->
    <section class="my-5">
      <div class="container">
        <h1>Latest News</h1>
        <div class="row">
          <div id="newstab" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">

                  <a href="post">
                    <%- include('./card.ejs') %> 
                  </a>
                 
                </div>
              </div>
              
            </div>
            <a
              class="carousel-control-prev"
              href="#newstab"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </h3>
            <a
              class="carousel-control-next"
              href="#newstab"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- #EndNewsBlock -->

    <!-- #ArticleBlock -->
    <section class="my-5">
      <div class="container">
        <h1>Latest Article</h1>
        <div class="row">
          <div id="newstab" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">

                  <a href="post">
                    <%- include('./card.ejs') %> 
                  </a>
                 
                </div>
              </div>
              
            </div>
            <a
              class="carousel-control-prev"
              href="#newstab"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </h3>
            <a
              class="carousel-control-next"
              href="#newstab"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- #EndArticleBlock -->

    <!-- #EventsBlock -->
    <section class="my-5">
      <div class="container">
        <h1>Latest Event</h1>
        <div class="row">
          <div id="newstab" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">

                  <a href="post">
                    <%- include('./card.ejs') %> 
                  </a>
                 
                </div>
              </div>
              
            </div>
            <a
              class="carousel-control-prev"
              href="#newstab"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </h3>
            <a
              class="carousel-control-next"
              href="#newstab"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- #EndEventsBlock -->

    <!-- #MediaBlock -->
    <section class="my-5">
      <div class="container">
        <h1>Latest Media</h1>
        <div class="row">
          <div id="newstab" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">

                  <a href="post">
                    <%- include('./card.ejs') %> 
                  </a>
                 
                </div>
              </div>
              
            </div>
            <a
              class="carousel-control-prev"
              href="#newstab"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </h3>
            <a
              class="carousel-control-next"
              href="#newstab"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- #EndMediaBlock -->

    <%- include('./includes/footer.ejs') %> 
